<p *ngIf="check === 1">{{LoadData()}}</p>
<div class="container">
  <div class="row panel headingTop">
      <div class="panel-heading">
        <h2 class="panel-title">Contact Book</h2>
    </div>
</div>

<div class="row" >

    <div class="col-xs-6 ">
      <a href="#" class="row" >
        <div class="col-xs-12 contactList" *ngFor="let x of contactList; let i = index" (click)="Edit(i)">
          <div class="col-xs-4 EmailPortion ">
            {{x.name}}<br>
            <h6 >{{x.email}}</h6>
          </div>
          <div class="col-xs-4 glyphicon1">
            <span class="glyphicon glyphicon-earphone"></span>
          </div>
          <div class="col-xs-4 PhonePortion ">
            {{x.phone}}
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 Formdiv">
      <form class="form-group" style="margin-top: 15px;" [formGroup]="userForm" (ngSubmit)="this[MethodSwaping]()">

        <input class="form-control" type="text" #refName formControlName="name"  placeholder="Enter Name">
        <div *ngIf="userForm.controls['name'].hasError('minlength')" class="alert alert-danger">
          Please Enter Atleast 3 Characters
        </div>

        <input class="form-control" type="email" #refEmail formControlName="email"  placeholder="Enter Email" >
        <div *ngIf="userForm.controls['email'].hasError('minlength')" class="alert alert-danger">
          Please Enter Atleast 13 Characters
        </div>

        <input class="form-control" type="text" #refPhone formControlName="phone"  placeholder="Mobile Number" >
        <div *ngIf="userForm.controls['phone'].hasError('minlength')" class="alert alert-danger">
          Please Enter Atleast 11 digits
        </div>

        <button class="btn btn-default btn-success" [disabled]="!userForm.valid" type="submit" > Submit</button>

      </form>
    </div>

</div>